:host{
  header {
    background-color: aquamarine;
    width: 100%;
    height: 60px;
    //position: fixed;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;

    ul {
      padding: 0;
    }

    div, li{
      min-width: 33.33%;
      display: inline-block;
      margin: 25px 10px;
      text-align: center;
      //font-weight: bolder;

      a{
        text-decoration: none;
        color: white;
      }
    }

    .example-spacer {
      flex: 1 1 auto;
    }

  }

  //div:first-of-type{
  //  background-color: blue;
  //}
  //div:nth-of-type(2){
  //  background-color: greenyellow;
  //}
  //div:last-of-type{
  //  background-color: yellow;
  //}

}


