:host{
  .example-form {
    width: 50%;
    margin: 0 25%;

    button{
      color: black;
    }
  }

  .example-full-width {
    width: 100%;
  }

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 12px 0 6px 0;
  }

  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    font-size: small;
    margin-bottom: 12px;
  }
  
  .remember{
    color: #222;
    font-size: small;
  }

}

