:host{
  .example-form {
    //min-width: 150px;
    //max-width: 500px;
    width: 50%;
    margin: 0 25%;
  }

  .example-full-width {
    width: 100%;
  }

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 12px 0 6px 0;
  }

  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    font-size: small;
    //padding-top: 16px;
    margin-bottom: 12px;
  }

  //div.container{
  //  width: 40%;
  //  margin: 0 30%;
  //}

  .remember{
    color: #222;
    font-size: small;
  }

}

